<h1>{{post.title}}</h1>

<p>By {{post.user.username}} on {{post.date_created}}</p>
<p>{{post.blog_post_content}}</p>

<hr>

<!-- Comments section -->
<div class="comments-section">
  {{#each post.comments}}
    <div class="comment">
      <p><strong>{{author.username}}</strong> - {{date_created}}</p>
      <p>{{comment_text}}</p>
    </div>
  {{/each}}

  {{#if logged_in}}
    <!-- Comment form -->
    <form id="new-comment-form">
      <label for="comment-text">Comment:</label>
      <textarea id="comment-text" name="comment_text" required></textarea>
      <p>Post ID: {{post.id}}</p>
      <input type="hidden" id="blog_post_id" name="blog_post_id" value="{{post.id}}" />
      <button type="submit">Submit Comment</button>
    </form>
  {{/if}}
</div>

<script src="/js/comment.js"></script>
